body {
    background-color: #aca0b0;
}

#bot, #bot2 {
    position: fixed;
    top: 200px;
    left: 600px;
}

#welcome {
    color: #99CCFF;
    font-size: 200px;   
    position:relative;
    top: 100px;
    left: -50px;

}

#name, #portfolio {
    color: #99CCFF;
    font-size: 100px;   
    position:relative;
    top: 100px;
    text-align:center;
}

#github {
    position:relative;
    top: 250px;
}

#email {
    position: relative;
    left: 500px;
    top: 250px;
}

#linkedin {
    position:relative;
    left: 250px;
    top: 250px;
}

.logo {
    position: absolute;
    top: -50px;
    left: -100px;
}

.bio {
    position:relative;
    top: 100px;
    color: #99CCFF;
    font-size: 20px; 
}
